@charset "UTF-8";

.main-header {
    text-align:center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid ;
}

.main-logo {
    width: 100px;
    margin-bottom: 0px;
}

.first-line {
    margin-top: 0px;
}

.main-section {
    border-bottom: 1px solid ;
    text-align:center;
    font-weight: bold;
    font-size:30px;
}

.main-footer {
    border-top: 1px solid;
    }

.main-footer div{
    display:flex;
    justify-content: space-around;
    padding-top:10px;
}
.main-footer img {
    width:100px;
}

.special-div {
    display:block;
    text-align: center;
    font-size: 18px;
}

.main-text {
    padding:10px;
    text-align: left;
    line-height: 1;
    font-size:18px;

}